#body{
  width: 80%;
  padding: 30px;
  padding-top: 5px;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  align-items: center;
  height: 100%;
  background-color: rgb(43, 43, 43);
  color: aliceblue;
}

#infoBtn{
  font-size: 10px;
  margin-left: 5px;
  background-color: gray;
  color: rgb(186, 249, 255);
}

#infoBtn:hover{
  background-color: orangered;
  color: black;
}

#searchBtn{
  background-color: gray;
  color: white;
}

#searchBtn:hover{
  background-color: rgb(58, 58, 189);
  color: black;
}